<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="AMR1-00-Khung (1).SLDASM">

  <!-- COLOR-->
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="orange">
    <color rgba="1.0 0.5 0.0 1.0"/>
  </material>

  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="blueygreen" >
    <color rgba="0.16862745098039217 0.6941176470588235 0.4745098039215686 1.0" />
  </material>

  <!-- ADD BASE_FOOTPRINT-->
  <link name="base_footprint"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <!-- offset_z_cua_base_link chính là độ cao từ mặt đất lên đến tâm base_link của bạn -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00173827152356856 0.000350248469316583 0.0529666706024565"
        rpy="0 0 0" />
      <mass
        value="10.4778859038141" />
      <inertia
        ixx="0.0703360742791012"
        ixy="-3.37517622858512E-06"
        ixz="1.03652316925429E-07"
        iyy="0.16464661508575"
        iyz="5.7298196364525E-08"
        izz="0.22406150426855" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/base_link.STL" />
      </geometry>

      <material name="gray"/>
      <!-- <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Left_Link">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 1.73870826358988E-05 6.93889390390723E-18"
        rpy="0 0 0" />
      <mass
        value="0.575934835821199" />
      <inertia
        ixx="0.00087589921824093"
        ixy="-3.90305943616329E-19"
        ixz="2.00283139300075E-19"
        iyy="0.0016488162374295"
        iyz="-3.74375346235715E-20"
        izz="0.00087589921824093" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Left_Link.STL" />
      </geometry>

      <material name="black"/>
      <!-- <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Left_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Joint"
    type="continuous">
    <origin
      xyz="0.0008675297542593 0.2555 0.0554645048190108"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Left_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      effort="19"
      velocity="0" />
  </joint>
  <link
    name="Right_Link">
    <inertial>
      <origin
        xyz="0 -1.7387082635878E-05 0"
        rpy="0 0 0" />
      <mass
        value="0.5759348358212" />
      <inertia
        ixx="0.000875899218240932"
        ixy="-4.72336753542261E-19"
        ixz="8.81318834012195E-20"
        iyy="0.0016488162374295"
        iyz="-1.65184776367625E-19"
        izz="0.000875899218240932" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Right_Link.STL" />
      </geometry>

      <material name="black"/>
      <!-- <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Right_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Joint"
    type="continuous">
    <origin
      xyz="0.000867529754257412 -0.2555 0.0554645048190089"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Right_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="19"
      velocity="0" />
  </joint>
  <link
    name="Lidar_Link">
    <inertial>
      <origin
        xyz="0.00200541946110239 0.0134103077320721 -0.0338935245878994"
        rpy="0 0 4.71239" />
      <mass
        value="0.22083577563192" />
      <inertia
        ixx="0.000226635929990388"
        ixy="3.21564290457347E-07"
        ixz="1.09528384092794E-08"
        iyy="0.000124655247421869"
        iyz="-1.52846070021821E-06"
        izz="0.000307698111320579" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 4.71239" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Lidar_Link.STL" />
      </geometry>

      <material name="white"/>
      <!-- <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 4.71239" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Lidar_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lidar_Joint"
    type="fixed">
    <origin
      xyz="0.338876449328432 -0.000435283144085308 0.124668485945723"
      rpy="0 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="Lidar_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Yaw_Front_Left_Link">
    <inertial>
      <origin
        xyz="0.0148205227516305 -1.28853555975139E-06 -0.0464513854281681"
        rpy="0 0 0" />
      <mass
        value="0.317263848923435" />
      <inertia
        ixx="0.000223317298267878"
        ixy="1.58305698159838E-08"
        ixz="1.24868278086581E-05"
        iyy="0.000249460460904027"
        iyz="-1.66771223948706E-08"
        izz="0.000211421163836343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Yaw_Front_Left_Link.STL" />
      </geometry>

      <material name="orange"/>
      <!-- <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Yaw_Front_Left_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Yaw_Front_Left_Joint"
    type="fixed">
    <origin
      xyz="0.295117529754259 0.199 0.0764358974358974"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Yaw_Front_Left_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Yaw_Front_Right_Link">
    <inertial>
      <origin
        xyz="0.0148205227516304 -1.28853555975139E-06 -0.0464513854281681"
        rpy="0 0 0" />
      <mass
        value="0.317263848923435" />
      <inertia
        ixx="0.000223317298267878"
        ixy="1.58305698158889E-08"
        ixz="1.24868278086581E-05"
        iyy="0.000249460460904027"
        iyz="-1.66771223949184E-08"
        izz="0.000211421163836343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Yaw_Front_Right_Link.STL" />
      </geometry>

      <material name="orange"/>
      <!-- <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Yaw_Front_Right_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Yaw_Front_Right_Joint"
    type="fixed">
    <origin
      xyz="0.295117529754259 -0.199000000000001 0.0764358974358964"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Yaw_Front_Right_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Yaw_Behind_Left_Link">
    <inertial>
      <origin
        xyz="0.0148205227516304 -1.28853555976527E-06 -0.046451385428168"
        rpy="0 0 0" />
      <mass
        value="0.317263848923435" />
      <inertia
        ixx="0.000223317298267878"
        ixy="1.58305698159095E-08"
        ixz="1.24868278086581E-05"
        iyy="0.000249460460904028"
        iyz="-1.66771223949144E-08"
        izz="0.000211421163836343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Yaw_Behind_Left_Link.STL" />
      </geometry>

      <material name="orange"/>
      <!-- <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Yaw_Behind_Left_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Yaw_Behind_Left_Joint"
    type="fixed">
    <origin
      xyz="-0.294882470245741 0.199 0.0764358974358974"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Yaw_Behind_Left_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Yaw_Behind_Right_Link">
    <inertial>
      <origin
        xyz="0.0148205227516305 -1.2885355598069E-06 -0.046451385428168"
        rpy="0 0 0" />
      <mass
        value="0.317263848923434" />
      <inertia
        ixx="0.000223317298267878"
        ixy="1.58305698159008E-08"
        ixz="1.24868278086581E-05"
        iyy="0.000249460460904027"
        iyz="-1.66771223949021E-08"
        izz="0.000211421163836343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Yaw_Behind_Right_Link.STL" />
      </geometry>

      <material name="orange"/>
      <!-- <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Yaw_Behind_Right_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Yaw_Behind_Right_Joint"
    type="fixed">
    <origin
      xyz="-0.294882470245742 -0.199 0.0764358974358977"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Yaw_Behind_Right_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Imu_Link">
    <inertial>
      <origin
        xyz="0 0 -0.00297319248852461"
        rpy="0 0 0" />
      <mass
        value="0.0811739569825906" />
      <inertia
        ixx="2.47712711705124E-05"
        ixy="-3.30872245021211E-21"
        ixz="2.50636377505598E-21"
        iyy="2.47712711705124E-05"
        iyz="-5.34235709278476E-21"
        izz="3.89013899986479E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Imu_Link.STL" />
      </geometry>

      <material name="orange"/>
      <!-- <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material> -->

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find amr_reality_pkg)/descriptions/meshes/Imu_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Imu_Joint"
    type="fixed">
    <origin
      xyz="-0.032882 0 0.03125"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Imu_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>